<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="eu">
<header th:include="fragments/header :: header"></header>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <h3>Проект job4j_dreamjob, выполняемый в рамках курса Job4j</h3>
    <ul>
        <li><a th:href="@{/vacancies}">Вакансии</a></li>
        <li><a th:href="@{/candidates}">Кандидаты</a></li>
        <li><a th:href="@{/vacancies/create}">Создать вакансию</a></li>
        <li><a th:href="@{/candidates/create}">Создать резюме</a></li>
    </ul>
</div>
<div th:if="${successMessage}" class="alert alert-success" role="alert">
    <span th:text="${successMessage}"></span>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>